div#header {
    text-align: right;
}
span#user_nav {
    text-align: right;
    padding-right: 30px;
}
div#wrapper {
    backgournd-color: #000;
    margin: 0 auto;
    width: 640px;
    border: 0px 1px solid black;
}
body {
    background-color: #eeffee;
}
div#image_wrapper {
    width: 48px;
    padding: 0 10px;
    height: 60px;
}
div.left {
    float: left;
}
div#map {
    clear:left;
}
div#content {
    margin: 0px 20px;
}
