div#header {
    text-align: right;
}
span#user_nav {
    text-align: right;
    padding-right: 30px;
}
div#wrapper {
    margin: 0 auto;
    width: 640px;
    border: 0px 1px solid black;
    font:15px arial,sans-serif;
}
body {
    background-color: #eeffee;
}
div#image_wrapper {
    width: 48px;
    padding: 0 10px;
    height: 60px;
}
div.left {
    float: left;
}
div.clear {
    clear:left;
}
div#content {
    margin: 0px 20px;
}
div#cb_notice {
    background-color: #ffeeee;
    border: 2px solid #ffbbbb;
    padding: 10px 10px;
}
p.alert {
    border: 1px solid #ffbbbb;
    padding: 5px;
    color: #cc0000;
}
p.notice {
    border: 1px solid #cccccc;
    padding: 5px;
    color: #666666;
}
h2, h3{
    color: #333333;
}
div#original_message{
    line-height: 1.5em;
}
span.name{
    font-size: 120%;
    padding: 10px 0 0 10px;
}
