<% title "Welcome" %>
<h2>ぼっちの御伴</h2>
<div id="cb_notice">
<% if ENV['RACK_ENV'] == "staging" %>
<h3>ステージング環境</h3>
<p>
  このサイトはステージング環境です。許可されたユーザ以外ログインできません。<br />
  <a href="http://botti.heroku.com/">ぼっちの御伴</a>をご利用ください。
</p>
<% end %>
<p>
  本サービスでは位置情報を利用します。あなたの現在位置がフォロワーに知られます。フォロワー以外には知られません。<br />
  デバイスの設定で、「常に位置情報を送信」するように設定できる場合は、そうすることをおすすめします。
</p>
</div>
<h3>今後の実装予定</h3>
<ul>
  <li><del>DM/Mentionを送れるようにする</del></li>
  <li><del>必要に応じて ajax 化(2011.5.23)</del></li>
  <li>つかいにくいところを直す &gt;&gt; 報告まってます!</li>
  <li>アイコン等整備</li>
</ul>
<h3>ぼっちの御伴とは</h3>
<p>ぼっち飯を解消するためのツールです。「Twitter とか mixi とかいってても、俺には関係ねえ!おれはずっとぼっちで昼飯一緒に食うやつもいねえんだよ!」という人が、Twitterで連絡をとりあって付近の友人とごはんがたべられるようになります。</p>
<p>SNSで「一緒に飯くわね?」とかいうのは憚られますが、このサービスではあなたをフォローしていて、サービスを利用している人にしかみえません。ログも3日しかのこらないので安心です。</p>
<p>Google Map を利用して、付近で最近ごはんをたべたがっている人を探せます。おもわぬ人が近くにいることがわかって、仲良くなれるかもしれません。今はおもにスマートフォンを対象としていますが、近く携帯電話にも対応させたいです。</p>
<p>「ぼっちの御伴」というサービス名は「おとも」と「ごはん」を掛けています。ぼっちの御伴がぼっちなあなたをリア充の地平につれていきます。</p>
<h3>使い方</h3>
<p>Twitter のアカウントを利用してログインできます。 Twitter のアカウントを持っていない究極ぼっちの人は <%=link_to "Twitter", "http://twitter.com/" %> からアカウントを作成してください。</p>
<p>マイページの地図には、あなたがフォローしているぼっち達の雄叫びがきこえてきます。地図上で気になる人のアイコンをおしてみると、相手のメッセージが表示されます。一緒にごはんたべたいな、と思ったら、声をかけましょう。地図が利用できない場合のために、友人達の直近の雄叫びもテキストベースで表示されます。</p>
<p>まわりに人がいない場合は、あなたのつぶやきをまっている人がいるかもしれません。自分からつぶやいてみましょう。「内容」にどれくらい時間があいているかなど、簡単にステータスをいれて、投稿します。地図に自分のアイコンが表示されるのを確認してください。「Twitterにもポスト」をチェックすると、API経由で Twitter でも発言します。</p>
<p>自分がどれくらい友人がいないかを再認識するために、自分のつぶやきをふりかえってみるのもいいでしょう。しかし、これはデータベースの都合で3日で消えますので、必要があればバックアップしてください。</p>
<p>友人が登録しているのに、自分のリストにでてこないときは、ログインしなおしてみてください。ログインしなおすとアップデートされます。</p>
